:root {
  --red: #ce2d4f;
  --soft-red: #ce6d8b;
  --blue: #4056f4;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Crimson Text", serif;
}

main {
  border: 1px solid var(--soft-red);
  margin: 1rem auto;
  width: fit-content;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

h1,
h2,
hr {
  margin: 1.5rem 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 100;
  font-style: italic;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1.15rem;
  background-color: var(--blue);
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: var(--red);
  color: black;
}
