:root {
  /* colors based on gruvbox theme */
  --black: #3c3836;
  --red: #cc241d;
  --yellow: #d79921;
  --blue: #076678;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Crimson Text", serif;
  color: var(--black);
}

main {
  margin: 1rem auto;
  width: fit-content;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

h1,
h2,
hr {
  margin: 1.5rem 0;
}

h1 {
  font-size: 2rem;
  color: var(--red);
}

h2 {
  font-size: 1.15rem;
  font-weight: 100;
  font-style: italic;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.button {
  padding: 0.25rem 0.5rem;
  font-size: 0.85rem;
  color: white;
  cursor: pointer;
  background-color: var(--black);
}

.button:hover {
  background-color: var(--yellow);
  color: var(--black);
}

ul {
  margin-left: 0;
  list-style: none;
}

div {
  border: 1px solid var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 0.25rem;
  padding: 0.5rem;
}

div:hover {
  background-color: var(--yellow);
  cursor: pointer;
  scale: 1.05;
}

.country-position {
  background-color: var(--black);
  width: 1.5rem;
  height: 1.5rem;
  color: white;
}

.clicked-button {
  background-color: var(--blue);
}