:root {
  --soft-red: #BA274A;
  --soft-blue: #8CDEDC;
  --red: #841C26;
  --red-transp: #841C2655;
  --blue: #2191FB;
  --black: rgba(0, 0, 0, 80%)
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 12px;
}

body {
  font-family: 'M PLUS 2', sans-serif;
  background-image: url("../image/world-map.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.header {
  margin-top: 1rem;
}

.header__title, .header__subtitle, .header__info {
  background-color: var(--black);
  padding: 1rem 0.5rem;
  color: var(--soft-red);
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.header__subtitle--total-amount {
  color: var(--blue);
}

.header__info--filter-letter, .header__info--filter-total-amount {
  color: var(--blue);
}

.header__info {
  margin-bottom: 1rem;
}

.nav {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.nav__option-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__nav-option__arrow {
  width: 1.25rem;
  height: 1.25rem;
}

.nav__nav-option__arrow--rotate {
  rotate: 180deg;
}

.nav__nav-option__arrow:disabled  {
  color: var(--soft-blue);
}

.nav__option {
  width: fit-content;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  outline: none;
}

.nav__option--active {
  background-color: var(--blue);
  border-color: var(--soft-red);
}

.nav__option:hover {
  background-color: var(--blue);
}

.nav__option:disabled {
  color: var(--soft-blue);
  border-color: var(--soft-blue);
  outline-color: var(--soft-blue);
}

.main__search-bar-container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.15rem;
}

.main__search-bar-input {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.main__search-bar-input:focus {
  border-color: var(--soft-red);
  outline-color: var(--soft-red);
  color: var(--blue);
}

.main__search-bar-input:disabled {
  border-color: var(--soft-blue);
  outline-color: var(--soft-blue);
}

.main__search-bar-icon {
  border: none;
  outline: none;
  scale: 0.85;
}

.main__search-bar-icon:disabled {
  color: var(--soft-blue);
}

.main__dynamic-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 2rem 0;
  padding: 1rem;
  justify-content: center;
}

.main__dynamic-container--highlight {
  background-color: var(--black);
}

.main__dynamic-card {
  padding: 1rem;
  background-color:white;
  color: var(--black);
  font-size: 1.25rem;
  cursor: pointer;
}

.main__dynamic-card:hover {
  background-color: var(--blue);
}

.footer {
  margin-top: auto;
  margin-bottom: 1rem;
  padding: 1rem;
  display: block;
  background-color: var(--black);
  color: white;
}

.footer__github-link {
  display: inline-block;
  margin-top: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15rem;
  color: var(--soft-red);
  font-weight: 900; 
}

.footer__github-link:hover {
  color: var(--blue);
}

@media screen and (max-width: 500px) {
  body {
    height: auto;
  }
  
  .header__title {
    font-size: 1.5rem;
  }

  .header__subtitle {
    font-size: 1.10rem;
  }

  .nav {
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
  }

  .nav__option {
    padding: 0.5rem 1rem;
  }

  .main__search-bar-input {
    padding: 1.15rem;
  }
  
  .main__dynamic-container {
    flex-direction: column;
  }
} 