:root {
  --soft-red: #BA274A;
  --soft-blue: #8CDEDC;
  --red: #841C26;
  --red-transp: #841C2655;
  --blue: #2191FB;
  --black: rgba(0, 0, 0, 80%)
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 12px;
}

body {
  font-family: 'M PLUS 2', sans-serif;
  background-image: url("../image/world-map.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 95%;
  margin: 0 auto;
  padding: 1rem;
}

.text-center {
  text-align: center;
}

.header__title, .header__subtitle, .header__info {
  background-color: var(--black);
  padding: 1rem 0.5rem;
  color: var(--soft-red);
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.header__info {
  margin-bottom: 1rem;
}

.nav {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.nav__option-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__option {
  border-color: var(--soft-red);
  width: fit-content;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  outline: none;
}

.nav__option:hover, .nav__option:focus {
  background-color: var(--blue);
  border-color: var(--soft-red);
  outline-color: var(--soft-red);
}

.header__search-bar-container {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.header__search-bar-input {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.header__search-bar-input:focus {
  border-color: var(--soft-red);
  outline-color: var(--soft-red);
  color: var(--blue);
}

.header__search-bar-icon {
  border: none;
  outline: none;
}

.footer {
  margin-top: auto;
  margin-bottom: 1rem;
  display: block;
  background-color: var(--black);
  color: white;
}

.footer__github-link {
  display: inline-block;
  margin-top: 1rem;
  text-decoration: none;
  color: var(--soft-red);
  font-size: 1.25rem;
  font-weight: 600; 
}

.footer__github-link:hover {
  color: var(--blue);
}